.tabs__container {
	padding: 10px;
	width: 100%;
	border-radius: 12px;
	//box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

	color: #000;

	@media (max-width: 1200px) {
		padding: 0px;
	}

	.content {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		.buttons {
			margin-right: 10px;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;

			.button {
				position: relative;

				display: flex;
				justify-content: center;
				align-items: center;
				background: transparent;
				border-radius: 12px;
				outline: none;
				border: none;
				padding: 16px;

				font-size: 18px;
				font-weight: 400;

				cursor: pointer;
				color: #333333;

				transition: all 0.5s ease;

				@media (max-width: 1200px) {
					padding: 12px;
				}

				&:hover {
					//color: #9f8cff;
					color: #6d50e2;
				}

				&.active {
					color: white;
				}

				.active {
					position: absolute;

					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background: #6d50e2;

					z-index: 1;
				}

				.icon {
					position: relative;
					z-index: 2;
					display: flex;
					justify-content: center;
					align-items: center;

					@media (max-width: 1200px) {
						font-size: 23px;
					}
				}

				.label {
					position: relative;
					z-index: 2;

					margin-left: 7px;
					//mix-blend-mode: exclusion;

					@media (max-width: 1200px) {
						display: none;
					}
				}
			}
		}

		.tabs__content {
			width: 100%;
			height: 100%;
		}
	}
}
